
results/Terelj_phase1_test/Terelj_flat_CLM5/CONSTANTS_excel.xlsx
results/Terelj_phase1_test/Terelj_flat_CLM5/Run_info.txt
results/Terelj_phase1_test/Terelj_flat_CLM5/Terelj_flat_CLM5.xlsx
results/Terelj_phase1_test/Terelj_flat_CLM5/Terelj_flat_CLM5_20150901.mat
results/Terelj_phase1_test/Terelj_flat_CLM5/Terelj_flat_CLM5_20160901.mat
results/Terelj_phase1_test/Terelj_flat_CLM5/~$Terelj_flat_reference_no_snow.xlsx
results/Terelj_phase1_test/Terelj_flat_CLM5_snow_old_c/CONSTANTS_excel.xlsx
results/Terelj_phase1_test/Terelj_flat_CLM5_snow_old_c/Run_info.txt
results/Terelj_phase1_test/Terelj_flat_CLM5_snow_old_c/Terelj_flat_CLM5_snow_old_c.xlsx
results/Terelj_phase1_test/Terelj_flat_CLM5_snow_old_c/Terelj_flat_CLM5_snow_old_c_20150901.mat
results/Terelj_phase1_test/Terelj_flat_CLM5_snow_old_c/Terelj_flat_CLM5_snow_old_c_20160901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_lowSWEperCell/CONSTANTS_excel.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_lowSWEperCell/Run_info.txt
results/Terelj_phase1_test/Terelj_NS_CLM5_lowSWEperCell/Terelj_NS_CLM5_lowSWEperCell.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_lowSWEperCell/Terelj_NS_CLM5_lowSWEperCell_20010901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_lowSWEperCell/Terelj_NS_CLM5_lowSWEperCell_20020901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_lowSWEperCell/Terelj_NS_CLM5_lowSWEperCell_20030901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_lowSWEperCell/Terelj_NS_CLM5_lowSWEperCell_20040901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_lowSWEperCell/Terelj_NS_CLM5_lowSWEperCell_20050901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_lowSWEperCell/Terelj_NS_CLM5_lowSWEperCell_20060901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_lowSWEperCell/Terelj_NS_CLM5_lowSWEperCell_20070901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_lowSWEperCell/Terelj_NS_CLM5_lowSWEperCell_20080901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_lowSWEperCell/Terelj_NS_CLM5_lowSWEperCell_20090901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_lowSWEperCell/Terelj_NS_CLM5_lowSWEperCell_20100901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_lowSWEperCell/Terelj_NS_CLM5_lowSWEperCell_20110901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_lowSWEperCell/Terelj_NS_CLM5_lowSWEperCell_20120901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_lowSWEperCell/Terelj_NS_CLM5_lowSWEperCell_20130901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_lowSWEperCell/Terelj_NS_CLM5_lowSWEperCell_20140901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_lowSWEperCell/Terelj_NS_CLM5_lowSWEperCell_20150901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_lowSWEperCell/Terelj_NS_CLM5_lowSWEperCell_20160901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_simpleSnow_150/CONSTANTS_excel.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_simpleSnow_150/Run_info.txt
results/Terelj_phase1_test/Terelj_NS_CLM5_simpleSnow_150/Terelj_NS_CLM5_simpleSnow_150.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_simpleSnow_150/Terelj_NS_CLM5_simpleSnow_150_20040901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_simpleSnow_150/Terelj_NS_CLM5_simpleSnow_150_20050901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_simpleSnow_150/Terelj_NS_CLM5_simpleSnow_150_20060901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_simpleSnow_150/Terelj_NS_CLM5_simpleSnow_150_20070901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_simpleSnow_175/CONSTANTS_excel.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_simpleSnow_175/Run_info.txt
results/Terelj_phase1_test/Terelj_NS_CLM5_simpleSnow_175/Terelj_NS_CLM5_simpleSnow_175.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_simpleSnow_175/Terelj_NS_CLM5_simpleSnow_175_20040901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_simpleSnow_175/Terelj_NS_CLM5_simpleSnow_175_20050901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_simpleSnow_175/Terelj_NS_CLM5_simpleSnow_175_20060901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_simpleSnow_175/Terelj_NS_CLM5_simpleSnow_175_20070901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_simpleSnow_175_newSoil/CONSTANTS_excel.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_simpleSnow_175_newSoil/Run_info.txt
results/Terelj_phase1_test/Terelj_NS_CLM5_simpleSnow_175_newSoil/Terelj_NS_CLM5_simpleSnow_175_newSoil.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_simpleSnow_175_newSoil/Terelj_NS_CLM5_simpleSnow_175_newSoil_20040901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_simpleSnow_175_newSoil/Terelj_NS_CLM5_simpleSnow_175_newSoil_20050901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_simpleSnow_175_newSoil/Terelj_NS_CLM5_simpleSnow_175_newSoil_20060901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_simpleSnow_175_newSoil/Terelj_NS_CLM5_simpleSnow_175_newSoil_20070901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/CONSTANTS_excel.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/Run_info.txt
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/Terelj_NS_CLM5_snow.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/Terelj_NS_CLM5_snow_20010901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/Terelj_NS_CLM5_snow_20020901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/Terelj_NS_CLM5_snow_20030901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/Terelj_NS_CLM5_snow_20040901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/Terelj_NS_CLM5_snow_20050901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/Terelj_NS_CLM5_snow_20060901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/Terelj_NS_CLM5_snow_20070901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/Terelj_NS_CLM5_snow_20080901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/Terelj_NS_CLM5_snow_20090901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/Terelj_NS_CLM5_snow_20100901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/Terelj_NS_CLM5_snow_20110901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/Terelj_NS_CLM5_snow_20120901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/Terelj_NS_CLM5_snow_20130901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/Terelj_NS_CLM5_snow_20140901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/Terelj_NS_CLM5_snow_20150901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/Terelj_NS_CLM5_snow_20160901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/Terelj_NS_CLM5_snow_20170901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/Terelj_NS_CLM5_snow_20180901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/Terelj_NS_CLM5_snow_20190901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/Terelj_NS_CLM5_snow_20200901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/Terelj_NS_CLM5_snow_20201231.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snow/~$Terelj_flat_reference_no_snow.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_150/CONSTANTS_excel.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_150/Run_info.txt
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_150/Terelj_NS_CLM5_snowDensity_150.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_150/Terelj_NS_CLM5_snowDensity_150_20010901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_150/Terelj_NS_CLM5_snowDensity_150_20020901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_150/Terelj_NS_CLM5_snowDensity_150_20030901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_150/Terelj_NS_CLM5_snowDensity_150_20040901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_150/Terelj_NS_CLM5_snowDensity_150_20050901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_150/Terelj_NS_CLM5_snowDensity_150_20060901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_150/Terelj_NS_CLM5_snowDensity_150_20070901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_150/Terelj_NS_CLM5_snowDensity_150_20080901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_150/Terelj_NS_CLM5_snowDensity_150_20090901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_150/Terelj_NS_CLM5_snowDensity_150_20100901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_200/CONSTANTS_excel.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_200/Run_info.txt
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_200/Terelj_NS_CLM5_snowDensity_200.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_200/Terelj_NS_CLM5_snowDensity_200_20010901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_200/Terelj_NS_CLM5_snowDensity_200_20020901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_200/Terelj_NS_CLM5_snowDensity_200_20030901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_200/Terelj_NS_CLM5_snowDensity_200_20040901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_200/Terelj_NS_CLM5_snowDensity_200_20050901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_200/Terelj_NS_CLM5_snowDensity_200_20060901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_200/Terelj_NS_CLM5_snowDensity_200_20070901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_200/Terelj_NS_CLM5_snowDensity_200_20080901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_200/Terelj_NS_CLM5_snowDensity_200_20090901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_200/Terelj_NS_CLM5_snowDensity_200_20100901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/CONSTANTS_excel.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/Run_info.txt
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/Terelj_NS_CLM5_snowDensity_250.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/Terelj_NS_CLM5_snowDensity_250_20010901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/Terelj_NS_CLM5_snowDensity_250_20020901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/Terelj_NS_CLM5_snowDensity_250_20030901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/Terelj_NS_CLM5_snowDensity_250_20040901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/Terelj_NS_CLM5_snowDensity_250_20050901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/Terelj_NS_CLM5_snowDensity_250_20060901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/Terelj_NS_CLM5_snowDensity_250_20070901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/Terelj_NS_CLM5_snowDensity_250_20080901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/Terelj_NS_CLM5_snowDensity_250_20090901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/Terelj_NS_CLM5_snowDensity_250_20100901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/Terelj_NS_CLM5_snowDensity_250_20110901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/Terelj_NS_CLM5_snowDensity_250_20120901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/Terelj_NS_CLM5_snowDensity_250_20130901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/Terelj_NS_CLM5_snowDensity_250_20140901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/Terelj_NS_CLM5_snowDensity_250_20150901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/Terelj_NS_CLM5_snowDensity_250_20160901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/Terelj_NS_CLM5_snowDensity_250_20170901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/Terelj_NS_CLM5_snowDensity_250_20180901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/Terelj_NS_CLM5_snowDensity_250_20190901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/Terelj_NS_CLM5_snowDensity_250_20200901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_250/Terelj_NS_CLM5_snowDensity_250_20201231.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp/CONSTANTS_excel.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp/Run_info.txt
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp/Terelj_NS_CLM5_snowDensity_vKamp.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp/Terelj_NS_CLM5_snowDensity_vKamp_20010901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp/Terelj_NS_CLM5_snowDensity_vKamp_20020901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp/Terelj_NS_CLM5_snowDensity_vKamp_20030901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp/Terelj_NS_CLM5_snowDensity_vKamp_20040901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp/Terelj_NS_CLM5_snowDensity_vKamp_20050901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp/Terelj_NS_CLM5_snowDensity_vKamp_20060901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp/Terelj_NS_CLM5_snowDensity_vKamp_20070901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp/Terelj_NS_CLM5_snowDensity_vKamp_20080901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp/Terelj_NS_CLM5_snowDensity_vKamp_20090901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp/Terelj_NS_CLM5_snowDensity_vKamp_20100901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m/CONSTANTS_excel.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m/Run_info.txt
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m_20010901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m_20020901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m_20030901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m_20040901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m_20050901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m_20060901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m_20070901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m_20080901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m_20090901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m/Terelj_NS_CLM5_snowDensity_vKamp_drierTop1m_20100901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope/CONSTANTS_excel.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope/Run_info.txt
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope_20010901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope_20020901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope_20030901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope_20040901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope_20050901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope_20060901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope_20070901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope_20080901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope_20090901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope/Terelj_NS_CLM5_snowDensity_vKamp_gentlerSlope_20100901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI/CONSTANTS_excel.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI/Run_info.txt
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI_20010901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI_20020901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI_20030901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI_20040901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI_20050901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI_20060901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI_20070901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI_20080901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI_20090901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI/Terelj_NS_CLM5_snowDensity_vKamp_higherSAI_20100901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5/CONSTANTS_excel.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5/Run_info.txt
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5_20010901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5_20020901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5_20030901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5_20040901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5_20050901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5_20060901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5_20070901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5_20080901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5_20090901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_1_5_20100901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5/CONSTANTS_excel.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5/Run_info.txt
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5_20010901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5_20020901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5_20030901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5_20040901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5_20050901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5_20060901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5_20070901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5_20080901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5_20090901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5/Terelj_NS_CLM5_snowDensity_vKamp_slope10_SAI_LAI_1_5_20100901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowFrac_05/CONSTANTS_excel.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snowFrac_05/Run_info.txt
results/Terelj_phase1_test/Terelj_NS_CLM5_snowFrac_05/Terelj_NS_CLM5_snowFrac_05.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snowFrac_05/Terelj_NS_CLM5_snowFrac_05_20040901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowFrac_05/Terelj_NS_CLM5_snowFrac_05_20050901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowFrac_05/Terelj_NS_CLM5_snowFrac_05_20060901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowFrac_05/Terelj_NS_CLM5_snowFrac_05_20070901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowFrac_075/CONSTANTS_excel.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snowFrac_075/Run_info.txt
results/Terelj_phase1_test/Terelj_NS_CLM5_snowFrac_075/Terelj_NS_CLM5_snowFrac_075.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_snowFrac_075/Terelj_NS_CLM5_snowFrac_075_20040901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowFrac_075/Terelj_NS_CLM5_snowFrac_075_20050901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowFrac_075/Terelj_NS_CLM5_snowFrac_075_20060901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_snowFrac_075/Terelj_NS_CLM5_snowFrac_075_20070901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_vKamp_kJordan_lowSWEperCell/CONSTANTS_excel.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_vKamp_kJordan_lowSWEperCell/Run_info.txt
results/Terelj_phase1_test/Terelj_NS_CLM5_vKamp_kJordan_lowSWEperCell/Terelj_NS_CLM5_vKamp_kJordan_lowSWEperCell.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_vKamp_kJordan_lowSWEperCell/Terelj_NS_CLM5_vKamp_kJordan_lowSWEperCell_20010901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_vKamp_kJordan_lowSWEperCell/Terelj_NS_CLM5_vKamp_kJordan_lowSWEperCell_20020901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_vKamp_kJordan_lowSWEperCell/Terelj_NS_CLM5_vKamp_kJordan_lowSWEperCell_20030901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_vKamp_kJordan_snowFrac_075_lowSWEperCell/CONSTANTS_excel.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_vKamp_kJordan_snowFrac_075_lowSWEperCell/Run_info.txt
results/Terelj_phase1_test/Terelj_NS_CLM5_vKamp_kJordan_snowFrac_075_lowSWEperCell/Terelj_NS_CLM5_vKamp_kJordan_snowFrac_075_lowSWEperCell.xlsx
results/Terelj_phase1_test/Terelj_NS_CLM5_vKamp_kJordan_snowFrac_075_lowSWEperCell/Terelj_NS_CLM5_vKamp_kJordan_snowFrac_075_lowSWEperCell_20040901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_vKamp_kJordan_snowFrac_075_lowSWEperCell/Terelj_NS_CLM5_vKamp_kJordan_snowFrac_075_lowSWEperCell_20050901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_vKamp_kJordan_snowFrac_075_lowSWEperCell/Terelj_NS_CLM5_vKamp_kJordan_snowFrac_075_lowSWEperCell_20060901.mat
results/Terelj_phase1_test/Terelj_NS_CLM5_vKamp_kJordan_snowFrac_075_lowSWEperCell/Terelj_NS_CLM5_vKamp_kJordan_snowFrac_075_lowSWEperCell_20070901.mat
